SilverLight/AutoCompleteBox/AutoCompleteBox/AutoCompleteBox/Service References/WCFAutoCompletedService/AutoCompletedService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49177/Service/AutoCompletedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AutoCompleteBox.Web.Service" />
  <xs:element name="GetEmployeeCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoCompleteBox.Web.Service" minOccurs="0" name="GetEmployeeCollectionResult" nillable="true" type="q1:ArrayOfEmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>