SilverLight/SilverlightDemo/SilverlightDemoLiveSearch/SilverlightDemoLiveSearch/Service References/LiveSearchWS/LiveSearchWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSearchResult" type="tns:ArrayOfSearchResultItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchResultItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchResultItem" nillable="true" type="tns:SearchResultItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchResultItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoSearchSoapIn">
    <wsdl:part name="parameters" element="tns:DoSearch" />
  </wsdl:message>
  <wsdl:message name="DoSearchSoapOut">
    <wsdl:part name="parameters" element="tns:DoSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="LiveSearchWebServiceSoap">
    <wsdl:operation name="DoSearch">
      <wsdl:input message="tns:DoSearchSoapIn" />
      <wsdl:output message="tns:DoSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveSearchWebServiceSoap" type="tns:LiveSearchWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSearch">
      <soap:operation soapAction="http://tempuri.org/DoSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveSearchWebServiceSoap12" type="tns:LiveSearchWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoSearch">
      <soap12:operation soapAction="http://tempuri.org/DoSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveSearchWebService">
    <wsdl:port name="LiveSearchWebServiceSoap" binding="tns:LiveSearchWebServiceSoap">
      <soap:address location="http://localhost:3334/LiveSearchWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveSearchWebServiceSoap12" binding="tns:LiveSearchWebServiceSoap12">
      <soap12:address location="http://localhost:3334/LiveSearchWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>